<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.raide_000.transactionkeeper">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".TitleScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QuickInput" />
        <activity android:name=".ManualInput" />
        <activity android:name=".CurrentTransactions" />
        <activity android:name=".RecentlyDeleted" />
        <activity android:name=".Settings" />
        <activity android:name=".NewQuickInput" />
    </application>

</manifest>
